@import url('https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic');

* {
    font-family: 'Ubuntu', sans-serif !important;
}

.edit_comment {
    display: none;
}

.row, .row .row {
    margin: 0 0 20px;
}

#comments {
    .comment {
        margin: 0 0 20px;
        .author {
            margin: 0 0 5px;
            font-style: italic;
        }
    }
}

.pet_image {
    box-shadow: 0 0 5px 0 #000;
}

.pet_author {
    font-style: italic;
}